body {
  font-family: "Inconsolata", monospace;
  font-weight: 200;
  font-size: larger;
}

.base-div {
  height: 50dvh;
  margin-top: 25dvh;
  display: flex;
  justify-content: center;
}

.inner-div {
  /* background-color: red;  */
  width: 500px;
}

#heading {
  margin-bottom: 40px;
}
